#login {
  color: #85898e;

  .login-container {
    height: 100vh;
    width: 100vw;
    align-content: center;
    text-align: center;

    .login-steam {
        margin-bottom: 0.6%;
      .steam-container {
        background: #212934;
        padding: 10px;
        cursor: pointer;
        border: 1px solid #85898e;

        .icon {
          display: inline-block;
          margin-right: 10px;
        }

        .text {
          display: inline-block;
          margin: 0;
        }
      }
    }

    .or-container {
      display: inline-flex;
      justify-content: center;

      .left {
        height: 1px;
        background: linear-gradient(to right, #2d333c, #85898e);
        width: 10%;
        margin-top: 12px;
        margin-right: 15px;
      }

      .right {
        height: 1px;
        background: linear-gradient(to left, #2d333c, #85898e);
        width: 10%;
        margin-top: 12px;
        margin-left: 15px;
      }
    }

    .sample-container {


        .text {
            &-sample {
                text-decoration: underline;
                cursor:pointer
            }
        }
    }
  }
}
