#login {
  color: #85898e;

  .login-container {
    height: 100vh;
    width: 100vw;
    text-align: center;

    .title {
        align-self: center;
        font-weight: 100;
        font-size: 5vh;

        .text {
            display: inline-block;
            margin: 0;
        }

        .icon {
            opacity: 0.5;
        }
    }

    .login-steam {
        margin-bottom: 0.6%;

        .error {
            margin:0;
        }
      .steam-container {
        background: #212934;
        padding: 10px;
        cursor: pointer;
        border: 1px solid #85898e;
        transition: all 0.3s ease-out;

        .icon {
          display: inline-block;
          margin-right: 10px;
        }

        .text {
          display: inline-block;
          margin: 0;
        }

        &:hover {
            transform: translateY(-10%);
            transition: all 0.2s ease-in;
        }
      }
    }

    .or-container {
      display: inline-flex;
      justify-content: center;

      .left {
        height: 1px;
        background: linear-gradient(to right, #2d333c, #85898e);
        width: 10%;
        margin-top: 12px;
        margin-right: 15px;
      }

      .right {
        height: 1px;
        background: linear-gradient(to left, #2d333c, #85898e);
        width: 10%;
        margin-top: 12px;
        margin-left: 15px;
      }
    }

    .sample-container {


        .text {
            &-sample {
                text-decoration: underline;
                cursor:pointer
            }
        }
    }
  }
}
