<section id="login" class="container-fluid">
  <div class="row login-container">
    <div class="col-12">
      <div class="row">
        <div class="col-12 login-steam">
          <div class="row justify-content-center">
            <div class="col-auto steam-container">
              <i class="fab fa-steam-symbol icon"></i>
              <p class="text">Sign through STEAM</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 or-container">
          <div class="left"></div>
          <p>OR</p>
          <div class="right"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 sample-container">
          <p class="text">See a <span class="text-sample">sample</span></p>
        </div>
      </div>

    </div>
  </div>
</section>
