<div id="filters" class="row">
    <div class="col-12">
        <div class="row filters">
            <div class="col-auto filters-info">
                <i class="fas fa-cog icon"></i>
                <p>FILTERS:</p>
            </div>
            <div class="col-auto filters-all">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="all" name="all">
                    <label class="custom-control-label" for="all">ALL</label>
                  </div>
            </div>
            <div class="col-auto filters-completed">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="completed" name="completed">
                    <label class="custom-control-label" for="completed">COMPLETED</label>
                  </div>
            </div>
            <div class="col-auto filters-not-completed">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="not-completed" name="not-completed">
                    <label class="custom-control-label" for="not-completed">NOT COMPLETED</label>
                  </div>
            </div>
        </div>
    </div>
    <div class="col-12 search">

    </div>
</div>
