#filters {
  color: #85898e;

  .filters {
    align-items: center;

    p {
      margin: 0;
    }

    &-info {
      display: inline-flex;

      .icon {
        margin-right: 5%;
        margin-bottom: 2px;
        align-self: center;
      }
    }

    .no-event {
        pointer-events: none;
    }

    .custom-control {

      .custom-control-input {
        &:focus {
          &~.custom-control-label {
            &::before {
              box-shadow: none !important;
            }
          }
        }

        &:checked {
          &~.custom-control-label {
            &::after {
              background-image: none;
              background-color: #85898e
            }
          }
        }

        &:disabled{
            &~.custom-control-label {
                color: #85898e;
            }
            
        }
      }

      &.custom-checkbox {
        padding-left: 0;
      }
    }

    .custom-control-label {
      position: relative;
      padding-right: 1.5rem;
      outline: 0;

      &::before {


        cursor: pointer;
        right: 0;
        left: auto;
        border-radius: 0;
        outline: 0;
        border: 1px solid #85898e;
        background-color: #212934;
        width: 14px;
        height: 14px;
      }

      &::after {


        cursor: pointer;
        right: 0;
        left: auto;
        transform: translateX(-2px);
        top: 6px;
        border-radius: 0;
        outline: 0;
        border: 0;
        width: 10px;
        height: 10px;
      }
    }
  }

}
