@import '../../../../assets/styles/responsive.scss';

#filters {
  color: #85898e;

  @include mobile {
    flex-direction: column;
  }

  .filters {
    align-items: flex-end;
    display: inline-flex;

    p {
      margin: 0;
    }

    &-info {
      display: inline-flex;

      .icon {
        margin-right: 5%;
        margin-bottom: 2px;
        align-self: center;
      }
    }

    .no-event {
      pointer-events: none;
    }

    .custom-control {

      .custom-control-input {
        &:focus {
          &~.custom-control-label {
            &::before {
              box-shadow: none !important;
            }
          }
        }

        &:checked {
          &~.custom-control-label {
            &::after {
              background-image: none;
              background-color: #85898e
            }
          }
        }

        &:disabled {
          &~.custom-control-label {
            color: #85898e;
          }

        }
      }

      &.custom-checkbox {
        padding-left: 0;
      }
    }

    .custom-control-label {
      position: relative;
      padding-right: 1.5rem;
      outline: 0;

      &:hover {

        &::before {
          border: 1px solid #b9b9b9; 
        }

      }

      &::before {


        cursor: pointer;
        right: 0;
        left: auto;
        border-radius: 0;
        outline: 0;
        border: 1px solid #85898e;
        background-color: #212934;
        width: 14px;
        height: 14px;

      }

      &::after {


        cursor: pointer;
        right: 0;
        left: auto;
        transform: translateX(-2px);
        top: 6px;
        border-radius: 0;
        outline: 0;
        border: 0;
        width: 10px;
        height: 10px;
      }
    }

    @include mobile {

      justify-content: center;
      display: block;

      .filter-row {
        margin-top: 3%;
        margin-right: 0px;
        margin-left: 0px;
        text-align: center;
      }

      .filter {
        color: #212934;
        background: #5f62656b;
        border-right: 1px solid #212934;
        margin: 1px;
        height: 50px;
        justify-content: center;
        align-self: center;
        display: flex;
        flex-direction: column;
      }

      .active {
        background: #85898e;
      }
    }
  }

  .search {
    display: inline-flex;
    $placeholder_color: #85898e;
    $icon_color: #212934;

    @include tablet {
      margin-top: 1%;
      margin-bottom: 1%;
    }

    .input-group {
      color: #85898e;
      align-items: center;

      .search-icon {
        position: absolute;
        z-index: 999;
        left: auto;
        right: 1%;
        height: 32px;
        width: 12%;
        text-align: center;
        color: #212934;
        background: #85898e;
        border: 1px solid #85898e;
        border-radius: 3px;
        font-size: 20px;

        &:hover {
          background-color: #b9b9b9;
          border-color: #b9b9b9;
          cursor: pointer;
        }

        &::before {
          vertical-align: sub;
        }
      }

      .search {
        border: 1px solid #85898e;
        background-color: #212934;
        border-radius: 0;

      }

      .form-control {
        color: #85898e;

        &:focus {
          border-color: unset;
          box-shadow: unset;
        }

        &:hover {
          border: 1px solid #b9b9b9;
        }
      }

      input::placeholder {
        color: $placeholder_color;
      }

      input:focus::placeholder {
        color: transparent;
      }
    }
  }

}
