<div id="filters" class="row">
  <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 search">
    <div class="input-group">
      <i class="fas fa-search search-icon" (click)="onSearch()"></i>
      <input type="text" id="search" class="search form-control" placeholder="Search game" (keyup)="onKey($event)"
        (keyup.enter)="onSearch()" />
    </div>
  </div>
  <div *ngIf="!isMobile" class="col filters">
    <div class="row">
      <div class="col-auto filters-all">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="all" name="all" (click)="setFilters(filters.All)"
            [checked]="checkFilters.all" [disabled]="checkFilters.all">
          <label class="custom-control-label" for="all">ALL</label>
        </div>
      </div>
      <div class="col-auto filters-completed">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="completed" name="completed"
            (click)="setFilters(filters.Completed)" [checked]="checkFilters.completed"
            [disabled]="checkFilters.completed">
          <label class="custom-control-label" for="completed">COMPLETED</label>
        </div>
      </div>
      <div class="col-auto filters-not-completed">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="not-completed" name="not-completed"
            (click)="setFilters(filters.NotCompleted)" [checked]="checkFilters.notCompleted"
            [disabled]="checkFilters.notCompleted">
          <label class="custom-control-label" for="not-completed">NOT COMPLETED</label>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="isMobile" class="col-12 filters">
    <div class="row filter-row">
      <div class="col filter filters-all" [ngClass]="{'active': checkFilters.all}" (click)="setFilters(filters.All)">
        <p>ALL</p>
      </div>
      <div class="col filter filters-completed" [ngClass]="{'active': checkFilters.completed}"
        (click)="setFilters(filters.Completed)">
        <p>COMPLETED</p>
      </div>

      <div class="col filter filters-not-completed" [ngClass]="{'active': checkFilters.notCompleted}"
        (click)="setFilters(filters.NotCompleted)">
        <p>NOT COMPLETED</p>
      </div>
    </div>
  </div>
</div>
