<section id="header" class="container-fluid">
  <div *ngIf="this.userInfo" class="row header">
    <div class="col-auto header-avatar">
      <a [href]="this.userInfo.profileurl"><img [src]="this.userInfo.avatar"></a>

    </div>
    <div class="col-auto header-name">
      <p class="name">{{this.userInfo.personaname}}</p>
    </div>
    <div class="col-3 header-logout">
      <p class="text" (click)="logout()">Logout</p>
    </div>
    <div class="col-3 header-title">
      <p class="text">IS STEAM C<i class="far fa-check-circle icon"></i>MPLETED?</p>
    </div>
    <div class="col header-social">
      <div class="row justify-content-end">
        <div class="col-4 d-flex justify-content-around">
          <a href="https://www.linkedin.com/in/sergiomalonda/"><i class="fab fa-linkedin"></i></a>
          <a href="https://twitter.com/Sergiomrd"><i class="fab fa-twitter"></i></a>
          <a href="https://www.instagram.com/sergiomalonda/"><i class="fab fa-instagram"></i></a>
          <a href="mailto:sermalonda@gmail.com"><i class="fas fa-envelope"></i></a>

          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_donations" />
            <input type="hidden" name="business" value="4VEVCJ2ACL6D2" />
            <input type="hidden" name="item_name" value="Buy me a coffee" />
            <input type="hidden" name="currency_code" value="USD" />
            <input type="submit" border="0" value="Donate" name="submit"
              title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="line"></div>
