<div id="game-book" class="row">
  <div class="col-12 game-book" (click)="setCompleted()">
    <div class="background" [style.background-image]="game?.background?.url | bgImage"
      [ngClass]="{'completed' : this.game.completed, 'mode-blur': game?.background?.type > 0, 'no-image': game?.background?.type === -1}">
    <p class="no-image-text" *ngIf="game?.background?.type === -1">{{this.game.name}}</p></div>
    <div *ngIf="game?.background?.type > 0" class="header" [style.background-image]="game?.background?.url | bgImage"
      [ngClass]="{'completed' : this.game.completed}"></div>
    <i *ngIf="game.completed" class="fas fa-check-circle"></i>
  </div>
  <div *ngIf="game?.background?.type >= 0 || game?.background?.type === -1 && this.game.completed" class="col-12 name-container">
    <p class="name">{{this.game.name}}</p>
  </div>
</div>
