<completed-steam-header></completed-steam-header>
<!-- <div class="container-fluid">
  <div class="row user-info">
    <div class="col">
      <completed-steam-filters (search)="searchGame($event)" (filtered)="setFilters($event)"></completed-steam-filters>
    </div>
    <div class="col remaining">
      <p *ngIf="this.remainingGames"><span class="number">{{this.remainingGames}}</span> GAMES REMAINING</p>
    </div>
  </div>
  <div class="search-results" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
    (scrolled)="onScroll()">
    <div class="row games-view">
      <completed-steam-game-book class="col-auto" *ngFor='let game of allGames' [game]="game"
        (update)="updateBooks($event)"></completed-steam-game-book>
      <div class="col-12 no-results" *ngIf="allGames.length === 0 && !loading">
        <p>You don't have games</p>
      </div>
    </div>
    <div class="row spinner">
      <div class="col-12">
        <ngx-spinner bdColor="#42bfff" size="small" color="#42bfff" type="ball-pulse" [fullScreen]="false"><p class="text">Loading games</p>
        </ngx-spinner>
      </div>
    </div>
  </div>
</div>
<completed-steam-scroll-top></completed-steam-scroll-top> -->
