@import '../../../assets/styles/responsive.scss';

.user-info {
  margin-top: 1%;
  
  @include mobile {
    flex-direction: column;
  }
  .filters {
    @include mobile {
      order: 1;
    }
  }

  .remaining {
    color: #85898e;
    text-align: end;
    padding-right: 30px;
    align-self: flex-end;
    p {
      margin: 0;
    }

    .number {
      color: #85898e;
    }

    @include mobile {
      text-align: center;
      order: 0;
      margin-top: 4%;
      margin-bottom: 4%;
    }
  }
}



.games-view {
  padding-top: 0px;
  margin-bottom: 2%;

  completed-steam-game-book {
    margin: 15px;
    @include mobile {
      margin: 10px 5px 10px 5px;
    }
  }

  .no-results {
    color: #42bfff;
    text-align: center;
    font-size: 30px;
    margin-top: 15%;
  }

  @include mobile {
justify-content: center;
    margin-bottom: 10%;
  }
}

.spinner {
  margin-bottom: 4%;

  .text {
    color: #42bfff;
    margin-bottom: 30%;
  }

  @include mobile {
    margin-bottom: 15%;
  }
}
