.user-info {
  margin-top: 0.4%;

  .remaining {
    color: #85898e;
    text-align: center;
    transform: translateX(19%);
  }
}



.games-view {
  padding-top: 20px;
  margin-bottom: 2%;

  completed-steam-game-book {
    margin: 15px;
  }
}

.spinner {
  margin-bottom: 4%;
}
