<completed-steam-header></completed-steam-header>
<div *ngIf="!isMobile" class="container-fluid">
  <div class="row user-info">
    <div class="col col-sm-8 col-md-8">
      <completed-steam-filters (search)="searchGame($event)" (filtered)="setFilters($event)"></completed-steam-filters>
    </div>
    <div class="col remaining">
      <p *ngIf="this.remainingGames"><span class="number">{{this.remainingGames}}</span> GAMES REMAINING</p>
    </div>
  </div>
  <div class="search-results" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
    (scrolled)="onScroll()">
    <div class="row row-cols-8 games-view">
      <completed-steam-game-book class="col col-md-auto" *ngFor='let game of allGames' [game]="game"
        (update)="updateBooks($event)"></completed-steam-game-book>
      <div class="col-12 no-results" *ngIf="allGames.length === 0 && !loading && activeFilter !== 'completed'">
        <p>It appears you don't have any game.</p>
        <p class="sub-text">Maybe you should change the status of your <a href="https://support.steampowered.com/kb_article.php?ref=4113-YUDH-6401">profile privacy to Public.</a></p>
      </div>
      <div class="col-12 no-results" *ngIf="allGames.length === 0 && !loading && activeFilter === 'completed'">
        <p>You don't have games completed. Click on a card to complete it</p>
      </div>
    </div>
    <div class="row spinner">
      <div class="col-12">
        <ngx-spinner name="full" bdColor="#01030c66" size="medium" color="#42bfff" type="ball-pulse"
          [fullScreen]="true">
          <p class="text">Loading games</p>
        </ngx-spinner>
      </div>
    </div>
    <div class="row spinner">
      <div class="col-12">
        <ngx-spinner name="pages" bdColor="#42bfff" size="small" color="#42bfff" type="ball-pulse" [fullScreen]="false">
          <p class="text"></p>
        </ngx-spinner>
      </div>
    </div>
  </div>
</div>

<div *ngIf="isMobile" class="container-fluid">
  <div class="row user-info">
    <div class="col filters">
      <completed-steam-filters (search)="searchGame($event)" (filtered)="setFilters($event)"></completed-steam-filters>
    </div>
    <div class="col remaining">
      <p *ngIf="this.remainingGames"><span class="number">{{this.remainingGames}}</span> GAMES REMAINING</p>
    </div>
  </div>
  <div class="search-results" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
    (scrolled)="onScroll()">
    <div class="row row-cols-2 games-view">
      <completed-steam-game-book class="col" *ngFor='let game of allGames' [game]="game" (update)="updateBooks($event)">
      </completed-steam-game-book>
      <div class="col-12 no-results" *ngIf="allGames.length === 0 && !loading && activeFilter !== 'completed'">
        <p>It appears you don't have any game.</p>
        <p class="sub-text">Maybe you should change the status of your <a href="https://support.steampowered.com/kb_article.php?ref=4113-YUDH-6401">profile privacy to Public.</a></p>
      </div>
      <div class="col-12 no-results" *ngIf="allGames.length === 0 && !loading && activeFilter === 'completed'">
        <p>You don't have games completed. Click on a card to complete it</p>
      </div>
    </div>
    <div class="row spinner">
      <div class="col-12">
        <ngx-spinner name="full" bdColor="#01030c66" size="medium" color="#42bfff" type="ball-pulse"
          [fullScreen]="true">
          <p class="text">Loading games</p>
        </ngx-spinner>
      </div>
    </div>
    <div class="row spinner">
      <div class="col-12">
        <ngx-spinner name="pages" bdColor="#42bfff" size="small" color="#42bfff" type="ball-pulse" [fullScreen]="false">
          <p class="text"></p>
        </ngx-spinner>
      </div>
    </div>
  </div>
</div>
<completed-steam-scroll-top></completed-steam-scroll-top>
